<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
	</startup>
	<appSettings>
	</appSettings>
    <connectionStrings>
	    <add name="Entities"
			    connectionString="metadata=res://*/AlgoModels.csdl|res://*/AlgoModels.ssdl|res://*/AlgoModels.msl;
					provider=System.Data.SqlClient;
					provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projects\AlgoTrader\Database\AlgoTrader.mdf;Integrated Security=True&quot;"
			    providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>